## Preprocessing

### Setup

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%matplotlib notebook

In [2]:
import os
from pathlib import Path

import pandas as pd

from src.augmentation import augment_dataset
from src.config import RAW_DIR
from src.preprocessing_nmt import preprocess_corpus, split_and_export

[CONFIG] Directories ensured and random seed set.

In [3]:
if Path.cwd().name == "notebooks":
    os.chdir("..")

%pwd

'c:\\Users\\qu1r0ra\\Documents\\GitHub\\philippine-machine-translation'

In [4]:
csv_files = list(RAW_DIR.glob("**/*.csv"))
if not csv_files:
    raise FileNotFoundError("No CSV files found in RAW_DIR.")

print(f"Found {len(csv_files)} CSV file(s).")

df = pd.read_csv(csv_files[0])
print(f"[INFO] Loaded: {csv_files[0].name} ({len(df):,} rows)")
df.head()

Found 7 CSV file(s).
[INFO] Loaded: cebuano_spanish.csv (31,105 rows)

,usfm,book,verse,chapter,language1,language2
0,1CH.1.1,1CH,1,1,"Si Adan, si Set, si Enos,","Adán, Set, Enós,"
1,1CH.1.2,1CH,2,1,"si Kenan, si Mahalalel, si Jared,","Cainán, Mahalaleel, Jared,"
2,1CH.1.3,1CH,3,1,"si Enoc, si Metusela, si Lamec,","Enoc, Matusalén, Lamec,"
3,1CH.1.4,1CH,4,1,"si Noe, si Sem, si Ham ug si Jafet.","Noé, Sem, Cam y Jafet."
4,1CH.1.5,1CH,5,1,"Ang mga anak nga lalaki ni Jafet: si Gomer, si...","Los hijos de Jafet: Gomer, Magog, Madai, Javán..."

In [5]:
clean_df = preprocess_corpus(df)
clean_df.head()

[Preprocessing] Cleaning and filtering 31,105 sentence pairs...
[Preprocessing] 30,904 valid sentence pairs remain after cleaning.

,language1,language2,src_tokens,tgt_tokens
0,"Si Adan, si Set, si Enos,","Adán, Set, Enós,",si adan si set si enos,adán set enós
1,"si Kenan, si Mahalalel, si Jared,","Cainán, Mahalaleel, Jared,",si kenan si mahalalel si jared,cainán mahalaleel jared
2,"si Enoc, si Metusela, si Lamec,","Enoc, Matusalén, Lamec,",si enoc si metusela si lamec,enoc matusalén lamec
3,"si Noe, si Sem, si Ham ug si Jafet.","Noé, Sem, Cam y Jafet.",si noe si sem si ham ug si jafet,noé sem cam y jafet
4,"Ang mga anak nga lalaki ni Jafet: si Gomer, si...","Los hijos de Jafet: Gomer, Magog, Madai, Javán...",ang mga anak nga lalaki ni jafet si gomer si m...,los hijos de jafet gomer magog madai javán tub...

In [6]:
aug_df = augment_dataset(clean_df)
aug_df.head()

[INFO] Augmenting dataset: 30,904 rows with 1 copies each...
[INFO] Augmentation complete — total rows: 61,808 (2.0x increase)

                          src_tokens               tgt_tokens
0             si adan si set si enos            adán set enós
1             si adan si set si enos            adán set enós
2     si kenan si mahalalel si jared  cainán mahalaleel jared
3  kenan si si mahalalel si si jared  cainán mahalaleel jared
4       si enoc si metusela si lamec     enoc matusalén lamec

In [7]:
split_and_export(aug_df)

[Splitting] Train ratio = 0.9
[Exporting] Writing train split to C:\Users\qu1r0ra\Documents\GitHub\philippine-machine-translation\data\processed
[Export] train.src and train.tgt written.
[Exporting] Writing valid split to C:\Users\qu1r0ra\Documents\GitHub\philippine-machine-translation\data\processed
[Export] valid.src and valid.tgt written.
[Done] Train/valid splits exported successfully.